<!DOCTYPE html>
<html>
<head>
<title>Bank Branches</title>
</head>
<body>

<h1>HDFC Bank</h1>
<table>
  <tr>
  	<th>S.No</th>
    <th>Branches in Bangaloore</th>
  </tr>
  <tr>
  	<td>1</td>
    <td>Electronic city</td>
  </tr>
  <tr>
  	<td>2</td>
    <td>Whitefield</td>
  </tr>
   <tr>
  	<td>3</td>
    <td>Marthahalli</td>
  </tr>
   <tr>
  	<td>4</td>
    <td>Indiranagar</td>
  </tr>
   <tr>
  	<td>5</td>
    <td>Koramangala</td>
  </tr>
   <tr>
  	<td>6</td>
    <td>Malleswaram</td>
  </tr>
   <tr>
  	<td>7</td>
    <td>Rajajinagar</td>
  </tr>
   <tr>
  	<td>8</td>
    <td>Bangaloore</td>
  </tr>
   <tr>
  	<td>9</td>
    <td>vasanthnagar</td>
  </tr>
   <tr>
  	<td>10</td>
    <td>Sarjapur</td>
  </tr>
</table>
</body>
</html>