<!DOCTYPE html>
<html>
<head>
<title>Bank Branches</title>
</head>
<body>

<h1>HDFC</h1>
<table>
  <tr>
  	<th>S.No</th>
    <th>Services Provide by bank</th>
  </tr>
  <tr>
  	<td>1</td>
    <td>NEFT</td>
  </tr>
  <tr>
  	<td>2</td>
    <td>RTGS</td>
  </tr>
   <tr>
  	<td>3</td>
    <td>Demand Draft</td>
  </tr>
   <tr>
  	<td>4</td>
    <td>InternetBanking</td>
  </tr>
   <tr>
  	<td>5</td>
    <td>Mobile Banking</td>
  </tr>
   <tr>
  	<td>6</td>
    <td>Cheque</td>
  </tr>
   <tr>
  	<td>7</td>
    <td>ATM</td>
  </tr>
   <tr>
  	<td>8</td>
    <td>Credit Card(if Applicable)</td>
  </tr>
   <tr>
  	<td>9</td>
    <td>Gold Loans</td>
  </tr>
   <tr>
  	<td>10</td>
    <td>Debit Card</td>
  </tr>
</table>
</body>
</html>